<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Aladin&family=Flavors&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="home-wrapper">
        <header>
            <h1 class="titulo">Funny Books Api</h1>
        </header>
        <a href="login/" class="login">
            Login
        </a>
    </div>
  </body>
</html>